=begin
#TemplateFox API

#Generate beautiful PDFs from HTML/CSS templates with Jinja2 via API. Design once, generate thousands.

The version of the OpenAPI document: 1.13.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module TemplateFox
  class AgentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a template with the authoring agent
    # Describe the image template you want; the TemplateFox agent authors it for you — valid HTML that renders deterministically AND stays editable in the visual editor, with every layer named and drivable through `/v1/image/create` modifications.  The job is asynchronous: poll `GET /v1/agent/jobs/{job_id}`. When completed, the response always includes a **preview_url** (rendered PNG) plus the `template_id`. Iterate with `POST /v1/agent/templates/{template_id}/revise`.  **Authentication:** API Key required (`x-api-key` header)  ## Credits  Creation costs **25 credits**, deducted when the job is queued and fully refunded if the job fails.  ## Canvas  Pass a `preset` (instagram-square, instagram-story, og-image, twitter-card, pinterest-pin, square-512) or explicit `width` + `height` in px.  ## Rate Limits  Standard rate limits apply (60 req/min free, 120 req/min paid).
    # @param create_agent_template_request [CreateAgentTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AgentJobCreatedResponse]
    def create_agent_template(create_agent_template_request, opts = {})
      data, _status_code, _headers = create_agent_template_with_http_info(create_agent_template_request, opts)
      data
    end

    # Create a template with the authoring agent
    # Describe the image template you want; the TemplateFox agent authors it for you — valid HTML that renders deterministically AND stays editable in the visual editor, with every layer named and drivable through &#x60;/v1/image/create&#x60; modifications.  The job is asynchronous: poll &#x60;GET /v1/agent/jobs/{job_id}&#x60;. When completed, the response always includes a **preview_url** (rendered PNG) plus the &#x60;template_id&#x60;. Iterate with &#x60;POST /v1/agent/templates/{template_id}/revise&#x60;.  **Authentication:** API Key required (&#x60;x-api-key&#x60; header)  ## Credits  Creation costs **25 credits**, deducted when the job is queued and fully refunded if the job fails.  ## Canvas  Pass a &#x60;preset&#x60; (instagram-square, instagram-story, og-image, twitter-card, pinterest-pin, square-512) or explicit &#x60;width&#x60; + &#x60;height&#x60; in px.  ## Rate Limits  Standard rate limits apply (60 req/min free, 120 req/min paid).
    # @param create_agent_template_request [CreateAgentTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentJobCreatedResponse, Integer, Hash)>] AgentJobCreatedResponse data, response status code and response headers
    def create_agent_template_with_http_info(create_agent_template_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentApi.create_agent_template ...'
      end
      # verify the required parameter 'create_agent_template_request' is set
      if @api_client.config.client_side_validation && create_agent_template_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_agent_template_request' when calling AgentApi.create_agent_template"
      end
      # resource path
      local_var_path = '/v1/agent/templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_agent_template_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AgentJobCreatedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AgentApi.create_agent_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentApi#create_agent_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get authoring-agent job status
    # Poll the status of an authoring-agent job.  **Authentication:** API Key required (`x-api-key` header)  ## Status Values  | Status | Description | |--------|-------------| | `pending` | Job is queued | | `processing` | The agent is authoring (typically 30s-3min) | | `completed` | Done — `template_id` and `preview_url` are set | | `failed` | Job failed (see error_message); credits were refunded |  Poll every 2-5 seconds. A job stuck in `processing` for more than 10 minutes is failed automatically and its credits refunded.
    # @param job_id [String] Job UUID
    # @param [Hash] opts the optional parameters
    # @return [AgentJobStatusResponse]
    def get_agent_job(job_id, opts = {})
      data, _status_code, _headers = get_agent_job_with_http_info(job_id, opts)
      data
    end

    # Get authoring-agent job status
    # Poll the status of an authoring-agent job.  **Authentication:** API Key required (&#x60;x-api-key&#x60; header)  ## Status Values  | Status | Description | |--------|-------------| | &#x60;pending&#x60; | Job is queued | | &#x60;processing&#x60; | The agent is authoring (typically 30s-3min) | | &#x60;completed&#x60; | Done — &#x60;template_id&#x60; and &#x60;preview_url&#x60; are set | | &#x60;failed&#x60; | Job failed (see error_message); credits were refunded |  Poll every 2-5 seconds. A job stuck in &#x60;processing&#x60; for more than 10 minutes is failed automatically and its credits refunded.
    # @param job_id [String] Job UUID
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentJobStatusResponse, Integer, Hash)>] AgentJobStatusResponse data, response status code and response headers
    def get_agent_job_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentApi.get_agent_job ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling AgentApi.get_agent_job"
      end
      # resource path
      local_var_path = '/v1/agent/jobs/{job_id}'.sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentJobStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AgentApi.get_agent_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentApi#get_agent_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revise a template with the authoring agent
    # Send natural-language feedback on an existing image template; the agent revises the draft while keeping layer names stable. Asynchronous — poll `GET /v1/agent/jobs/{job_id}`; the completed job always includes a fresh **preview_url**.  **Authentication:** API Key required (`x-api-key` header)  ## Credits  A revision costs **10 credits**, deducted when the job is queued and fully refunded if the job fails.
    # @param template_id [String] Template short ID (12 characters)
    # @param revise_agent_template_request [ReviseAgentTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AgentJobCreatedResponse]
    def revise_agent_template(template_id, revise_agent_template_request, opts = {})
      data, _status_code, _headers = revise_agent_template_with_http_info(template_id, revise_agent_template_request, opts)
      data
    end

    # Revise a template with the authoring agent
    # Send natural-language feedback on an existing image template; the agent revises the draft while keeping layer names stable. Asynchronous — poll &#x60;GET /v1/agent/jobs/{job_id}&#x60;; the completed job always includes a fresh **preview_url**.  **Authentication:** API Key required (&#x60;x-api-key&#x60; header)  ## Credits  A revision costs **10 credits**, deducted when the job is queued and fully refunded if the job fails.
    # @param template_id [String] Template short ID (12 characters)
    # @param revise_agent_template_request [ReviseAgentTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentJobCreatedResponse, Integer, Hash)>] AgentJobCreatedResponse data, response status code and response headers
    def revise_agent_template_with_http_info(template_id, revise_agent_template_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentApi.revise_agent_template ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling AgentApi.revise_agent_template"
      end
      # verify the required parameter 'revise_agent_template_request' is set
      if @api_client.config.client_side_validation && revise_agent_template_request.nil?
        fail ArgumentError, "Missing the required parameter 'revise_agent_template_request' when calling AgentApi.revise_agent_template"
      end
      # resource path
      local_var_path = '/v1/agent/templates/{template_id}/revise'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(revise_agent_template_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AgentJobCreatedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AgentApi.revise_agent_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentApi#revise_agent_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
