=begin
#TemplateFox API

#Generate beautiful PDFs from HTML/CSS templates with Jinja2 via API. Design once, generate thousands.

The version of the OpenAPI document: 1.3.0

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module TemplateFox
  class IntegrationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete S3 configuration
    # Delete S3 storage configuration.  **Authentication:** API Key required (`x-api-key` header)  **Usage:** Remove your S3 integration. Generated PDFs will use the default CDN storage after deletion.  **Warning:** This action is irreversible. You'll need to reconfigure S3 to use it again.  **No credits consumed:** This is a configuration endpoint.
    # @param [Hash] opts the optional parameters
    # @return [S3SuccessResponse]
    def delete_s3_config(opts = {})
      data, _status_code, _headers = delete_s3_config_with_http_info(opts)
      data
    end

    # Delete S3 configuration
    # Delete S3 storage configuration.  **Authentication:** API Key required (&#x60;x-api-key&#x60; header)  **Usage:** Remove your S3 integration. Generated PDFs will use the default CDN storage after deletion.  **Warning:** This action is irreversible. You&#39;ll need to reconfigure S3 to use it again.  **No credits consumed:** This is a configuration endpoint.
    # @param [Hash] opts the optional parameters
    # @return [Array<(S3SuccessResponse, Integer, Hash)>] S3SuccessResponse data, response status code and response headers
    def delete_s3_config_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.delete_s3_config ...'
      end
      # resource path
      local_var_path = '/v1/integrations/s3'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'S3SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.delete_s3_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#delete_s3_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get S3 configuration
    # Get current S3 storage configuration.  **Authentication:** API Key required (`x-api-key` header)  **Usage:** Retrieve your S3 integration settings. Secret access key is masked for security.  **Returns 404** if S3 is not configured.  **No credits consumed:** This is a read-only endpoint.
    # @param [Hash] opts the optional parameters
    # @return [S3ConfigResponse]
    def get_s3_config(opts = {})
      data, _status_code, _headers = get_s3_config_with_http_info(opts)
      data
    end

    # Get S3 configuration
    # Get current S3 storage configuration.  **Authentication:** API Key required (&#x60;x-api-key&#x60; header)  **Usage:** Retrieve your S3 integration settings. Secret access key is masked for security.  **Returns 404** if S3 is not configured.  **No credits consumed:** This is a read-only endpoint.
    # @param [Hash] opts the optional parameters
    # @return [Array<(S3ConfigResponse, Integer, Hash)>] S3ConfigResponse data, response status code and response headers
    def get_s3_config_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.get_s3_config ...'
      end
      # resource path
      local_var_path = '/v1/integrations/s3'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'S3ConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.get_s3_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#get_s3_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Save S3 configuration
    # Save or update S3-compatible storage configuration.  **Authentication:** API Key required (`x-api-key` header)  **Usage:** Configure your S3-compatible storage to receive generated PDFs directly in your own bucket instead of the default CDN.  **Supported providers:** - Amazon S3 - DigitalOcean Spaces - Cloudflare R2 - MinIO - Any S3-compatible storage  **Secret key behavior:** - For new configuration: `secret_access_key` is required - For updates: Omit `secret_access_key` to keep existing value  **No credits consumed:** This is a configuration endpoint.
    # @param s3_config_request [S3ConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @return [S3SuccessResponse]
    def save_s3_config(s3_config_request, opts = {})
      data, _status_code, _headers = save_s3_config_with_http_info(s3_config_request, opts)
      data
    end

    # Save S3 configuration
    # Save or update S3-compatible storage configuration.  **Authentication:** API Key required (&#x60;x-api-key&#x60; header)  **Usage:** Configure your S3-compatible storage to receive generated PDFs directly in your own bucket instead of the default CDN.  **Supported providers:** - Amazon S3 - DigitalOcean Spaces - Cloudflare R2 - MinIO - Any S3-compatible storage  **Secret key behavior:** - For new configuration: &#x60;secret_access_key&#x60; is required - For updates: Omit &#x60;secret_access_key&#x60; to keep existing value  **No credits consumed:** This is a configuration endpoint.
    # @param s3_config_request [S3ConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(S3SuccessResponse, Integer, Hash)>] S3SuccessResponse data, response status code and response headers
    def save_s3_config_with_http_info(s3_config_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.save_s3_config ...'
      end
      # verify the required parameter 's3_config_request' is set
      if @api_client.config.client_side_validation && s3_config_request.nil?
        fail ArgumentError, "Missing the required parameter 's3_config_request' when calling IntegrationsApi.save_s3_config"
      end
      # resource path
      local_var_path = '/v1/integrations/s3'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(s3_config_request)

      # return_type
      return_type = opts[:debug_return_type] || 'S3SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.save_s3_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#save_s3_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test S3 connection
    # Test S3 connection with stored credentials.  **Authentication:** API Key required (`x-api-key` header)  **Usage:** Verify your S3 configuration is working correctly. The test will: 1. Connect to the endpoint 2. Verify bucket access 3. Check write permissions by uploading a small test file  **Prerequisite:** S3 must be configured first using `POST /v1/integrations/s3`  **No credits consumed:** This is a diagnostic endpoint.
    # @param [Hash] opts the optional parameters
    # @return [S3TestResponse]
    def test_s3_connection(opts = {})
      data, _status_code, _headers = test_s3_connection_with_http_info(opts)
      data
    end

    # Test S3 connection
    # Test S3 connection with stored credentials.  **Authentication:** API Key required (&#x60;x-api-key&#x60; header)  **Usage:** Verify your S3 configuration is working correctly. The test will: 1. Connect to the endpoint 2. Verify bucket access 3. Check write permissions by uploading a small test file  **Prerequisite:** S3 must be configured first using &#x60;POST /v1/integrations/s3&#x60;  **No credits consumed:** This is a diagnostic endpoint.
    # @param [Hash] opts the optional parameters
    # @return [Array<(S3TestResponse, Integer, Hash)>] S3TestResponse data, response status code and response headers
    def test_s3_connection_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.test_s3_connection ...'
      end
      # resource path
      local_var_path = '/v1/integrations/s3/test'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'S3TestResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.test_s3_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#test_s3_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
