=begin
#TemplateFox API

#Generate beautiful PDFs from HTML/CSS templates with Jinja2 via API. Design once, generate thousands.

The version of the OpenAPI document: 1.1.1.dev2+gfe6303fdd.d20260209

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module TemplateFox
  class PDFApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Generate PDF from template
    # Generate a PDF from a saved template with dynamic data.  **Authentication:** API Key required (`x-api-key` header)  ## Request Body  | Field | Type | Required | Description | |-------|------|----------|-------------| | `template_id` | string | ✅ Yes | Template short ID (12 characters) | | `data` | object | ✅ Yes | Key-value data to render in template | | `export_type` | string | No | `url` (default) or `binary` | | `expiration` | integer | No | URL expiration in seconds (60-604800, default: 86400) |  ## Export Types - `url` (default): PDF is uploaded to CDN, returns JSON with URL - `binary`: Returns raw PDF bytes directly  **Credits:** 1 credit deducted per successful generation.
    # @param create_pdf_request [CreatePdfRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreatePdfResponse]
    def create_pdf(create_pdf_request, opts = {})
      data, _status_code, _headers = create_pdf_with_http_info(create_pdf_request, opts)
      data
    end

    # Generate PDF from template
    # Generate a PDF from a saved template with dynamic data.  **Authentication:** API Key required (&#x60;x-api-key&#x60; header)  ## Request Body  | Field | Type | Required | Description | |-------|------|----------|-------------| | &#x60;template_id&#x60; | string | ✅ Yes | Template short ID (12 characters) | | &#x60;data&#x60; | object | ✅ Yes | Key-value data to render in template | | &#x60;export_type&#x60; | string | No | &#x60;url&#x60; (default) or &#x60;binary&#x60; | | &#x60;expiration&#x60; | integer | No | URL expiration in seconds (60-604800, default: 86400) |  ## Export Types - &#x60;url&#x60; (default): PDF is uploaded to CDN, returns JSON with URL - &#x60;binary&#x60;: Returns raw PDF bytes directly  **Credits:** 1 credit deducted per successful generation.
    # @param create_pdf_request [CreatePdfRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePdfResponse, Integer, Hash)>] CreatePdfResponse data, response status code and response headers
    def create_pdf_with_http_info(create_pdf_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PDFApi.create_pdf ...'
      end
      # verify the required parameter 'create_pdf_request' is set
      if @api_client.config.client_side_validation && create_pdf_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_pdf_request' when calling PDFApi.create_pdf"
      end
      # resource path
      local_var_path = '/v1/pdf/create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/pdf']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_pdf_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePdfResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PDFApi.create_pdf",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PDFApi#create_pdf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
