=begin
#TemplateFox API

#Generate beautiful PDFs from HTML/CSS templates with Jinja2 via API. Design once, generate thousands.

The version of the OpenAPI document: 1.6.0

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module TemplateFox
  class PDFAsyncApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Generate PDF asynchronously
    # Queue a PDF generation job for async processing.  **Authentication:** API Key required (`x-api-key` header)  ## How It Works  1. Submit a job with template and data 2. Receive a `job_id` immediately 3. Poll `/v1/pdf/status/{job_id}` for completion 4. Optionally receive a webhook notification  ## When to Use Async  Use async generation when: - Processing large documents or batches - You can't wait for synchronous response - You want webhook notifications  ## Webhooks  If `webhook_url` is provided, we'll POST to it when the job completes or fails:  ```json {     \"event\": \"pdf.completed\",     \"job_id\": \"...\",     \"status\": \"completed\",     \"result\": {         \"url\": \"https://...\",         \"filename\": \"invoice.pdf\"     } } ```  Webhooks include HMAC-SHA256 signature in `X-TemplateFox-Signature` header if you provide a `webhook_secret`.  **Credits:** 1 credit deducted immediately (refunded if job fails permanently).
    # @param create_async_pdf_request [CreateAsyncPdfRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAsyncPdfResponse]
    def create_pdf_async(create_async_pdf_request, opts = {})
      data, _status_code, _headers = create_pdf_async_with_http_info(create_async_pdf_request, opts)
      data
    end

    # Generate PDF asynchronously
    # Queue a PDF generation job for async processing.  **Authentication:** API Key required (&#x60;x-api-key&#x60; header)  ## How It Works  1. Submit a job with template and data 2. Receive a &#x60;job_id&#x60; immediately 3. Poll &#x60;/v1/pdf/status/{job_id}&#x60; for completion 4. Optionally receive a webhook notification  ## When to Use Async  Use async generation when: - Processing large documents or batches - You can&#39;t wait for synchronous response - You want webhook notifications  ## Webhooks  If &#x60;webhook_url&#x60; is provided, we&#39;ll POST to it when the job completes or fails:  &#x60;&#x60;&#x60;json {     \&quot;event\&quot;: \&quot;pdf.completed\&quot;,     \&quot;job_id\&quot;: \&quot;...\&quot;,     \&quot;status\&quot;: \&quot;completed\&quot;,     \&quot;result\&quot;: {         \&quot;url\&quot;: \&quot;https://...\&quot;,         \&quot;filename\&quot;: \&quot;invoice.pdf\&quot;     } } &#x60;&#x60;&#x60;  Webhooks include HMAC-SHA256 signature in &#x60;X-TemplateFox-Signature&#x60; header if you provide a &#x60;webhook_secret&#x60;.  **Credits:** 1 credit deducted immediately (refunded if job fails permanently).
    # @param create_async_pdf_request [CreateAsyncPdfRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAsyncPdfResponse, Integer, Hash)>] CreateAsyncPdfResponse data, response status code and response headers
    def create_pdf_async_with_http_info(create_async_pdf_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PDFAsyncApi.create_pdf_async ...'
      end
      # verify the required parameter 'create_async_pdf_request' is set
      if @api_client.config.client_side_validation && create_async_pdf_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_async_pdf_request' when calling PDFAsyncApi.create_pdf_async"
      end
      # resource path
      local_var_path = '/v1/pdf/create-async'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_async_pdf_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAsyncPdfResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PDFAsyncApi.create_pdf_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PDFAsyncApi#create_pdf_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PDF job status
    # Get the current status of an async PDF generation job.  **Authentication:** API Key required (`x-api-key` header)  ## Status Values  | Status | Description | |--------|-------------| | `pending` | Job is queued, waiting to be processed | | `processing` | Job is being processed | | `completed` | PDF generated successfully | | `failed` | Job failed (check error_message) |  ## Polling Recommendations  - Poll every 1-2 seconds for small documents - Poll every 5-10 seconds for large documents - Consider using webhooks instead of polling
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [JobStatusResponse]
    def get_pdf_job(job_id, opts = {})
      data, _status_code, _headers = get_pdf_job_with_http_info(job_id, opts)
      data
    end

    # Get PDF job status
    # Get the current status of an async PDF generation job.  **Authentication:** API Key required (&#x60;x-api-key&#x60; header)  ## Status Values  | Status | Description | |--------|-------------| | &#x60;pending&#x60; | Job is queued, waiting to be processed | | &#x60;processing&#x60; | Job is being processed | | &#x60;completed&#x60; | PDF generated successfully | | &#x60;failed&#x60; | Job failed (check error_message) |  ## Polling Recommendations  - Poll every 1-2 seconds for small documents - Poll every 5-10 seconds for large documents - Consider using webhooks instead of polling
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobStatusResponse, Integer, Hash)>] JobStatusResponse data, response status code and response headers
    def get_pdf_job_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PDFAsyncApi.get_pdf_job ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling PDFAsyncApi.get_pdf_job"
      end
      # resource path
      local_var_path = '/v1/pdf/jobs/{job_id}'.sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PDFAsyncApi.get_pdf_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PDFAsyncApi#get_pdf_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PDF jobs
    # List async PDF generation jobs for your team.  **Authentication:** API Key required (`x-api-key` header)  Supports pagination and filtering by status.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [Integer] :offset  (default to 0)
    # @option opts [JobStatus] :status 
    # @return [JobListResponse]
    def list_pdf_jobs(opts = {})
      data, _status_code, _headers = list_pdf_jobs_with_http_info(opts)
      data
    end

    # List PDF jobs
    # List async PDF generation jobs for your team.  **Authentication:** API Key required (&#x60;x-api-key&#x60; header)  Supports pagination and filtering by status.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [Integer] :offset  (default to 0)
    # @option opts [JobStatus] :status 
    # @return [Array<(JobListResponse, Integer, Hash)>] JobListResponse data, response status code and response headers
    def list_pdf_jobs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PDFAsyncApi.list_pdf_jobs ...'
      end
      # resource path
      local_var_path = '/v1/pdf/jobs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PDFAsyncApi.list_pdf_jobs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PDFAsyncApi#list_pdf_jobs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
