=begin
#TemplateFox API

#Generate beautiful PDFs from HTML/CSS templates with Jinja2 via API. Design once, generate thousands.

The version of the OpenAPI document: 1.13.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module TemplateFox
  class PDFToolsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Extract pages from a PDF
    # Return a single PDF containing only the selected pages of the input, in the order specified. Replaces the need for splitting + reassembling client-side.  **Pages syntax:** 1-indexed, comma-separated. Supports ranges (`1-3`) and singles (`5`). Order is preserved: `5,1,3` outputs those 3 pages in that order.  **Credits:** 1 credit per call.
    # @param extract_pdf_pages_request [ExtractPdfPagesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PdfToolsResponse]
    def extract_pdf_pages(extract_pdf_pages_request, opts = {})
      data, _status_code, _headers = extract_pdf_pages_with_http_info(extract_pdf_pages_request, opts)
      data
    end

    # Extract pages from a PDF
    # Return a single PDF containing only the selected pages of the input, in the order specified. Replaces the need for splitting + reassembling client-side.  **Pages syntax:** 1-indexed, comma-separated. Supports ranges (&#x60;1-3&#x60;) and singles (&#x60;5&#x60;). Order is preserved: &#x60;5,1,3&#x60; outputs those 3 pages in that order.  **Credits:** 1 credit per call.
    # @param extract_pdf_pages_request [ExtractPdfPagesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PdfToolsResponse, Integer, Hash)>] PdfToolsResponse data, response status code and response headers
    def extract_pdf_pages_with_http_info(extract_pdf_pages_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PDFToolsApi.extract_pdf_pages ...'
      end
      # verify the required parameter 'extract_pdf_pages_request' is set
      if @api_client.config.client_side_validation && extract_pdf_pages_request.nil?
        fail ArgumentError, "Missing the required parameter 'extract_pdf_pages_request' when calling PDFToolsApi.extract_pdf_pages"
      end
      # resource path
      local_var_path = '/v1/pdf-tools/extract-pages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(extract_pdf_pages_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PdfToolsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PDFToolsApi.extract_pdf_pages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PDFToolsApi#extract_pdf_pages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Merge PDFs
    # Concatenate 2 or more PDFs into a single PDF, in the order provided. Each input PDF is supplied as either an HTTPS URL or a base64 string.  **Credits:** 1 credit per call.
    # @param merge_pdf_request [MergePdfRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PdfToolsResponse]
    def merge_pdf(merge_pdf_request, opts = {})
      data, _status_code, _headers = merge_pdf_with_http_info(merge_pdf_request, opts)
      data
    end

    # Merge PDFs
    # Concatenate 2 or more PDFs into a single PDF, in the order provided. Each input PDF is supplied as either an HTTPS URL or a base64 string.  **Credits:** 1 credit per call.
    # @param merge_pdf_request [MergePdfRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PdfToolsResponse, Integer, Hash)>] PdfToolsResponse data, response status code and response headers
    def merge_pdf_with_http_info(merge_pdf_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PDFToolsApi.merge_pdf ...'
      end
      # verify the required parameter 'merge_pdf_request' is set
      if @api_client.config.client_side_validation && merge_pdf_request.nil?
        fail ArgumentError, "Missing the required parameter 'merge_pdf_request' when calling PDFToolsApi.merge_pdf"
      end
      # resource path
      local_var_path = '/v1/pdf-tools/merge'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(merge_pdf_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PdfToolsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PDFToolsApi.merge_pdf",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PDFToolsApi#merge_pdf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate pages of a PDF
    # Rotate every page by the same angle (`rotation`), or apply a per-page rotation map (`page_rotations`). Rotations are cumulative with the page's existing rotation. Allowed angles: 0, 90, 180, 270.  **Credits:** 1 credit per call.
    # @param rotate_pdf_request [RotatePdfRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PdfToolsResponse]
    def rotate_pdf(rotate_pdf_request, opts = {})
      data, _status_code, _headers = rotate_pdf_with_http_info(rotate_pdf_request, opts)
      data
    end

    # Rotate pages of a PDF
    # Rotate every page by the same angle (&#x60;rotation&#x60;), or apply a per-page rotation map (&#x60;page_rotations&#x60;). Rotations are cumulative with the page&#39;s existing rotation. Allowed angles: 0, 90, 180, 270.  **Credits:** 1 credit per call.
    # @param rotate_pdf_request [RotatePdfRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PdfToolsResponse, Integer, Hash)>] PdfToolsResponse data, response status code and response headers
    def rotate_pdf_with_http_info(rotate_pdf_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PDFToolsApi.rotate_pdf ...'
      end
      # verify the required parameter 'rotate_pdf_request' is set
      if @api_client.config.client_side_validation && rotate_pdf_request.nil?
        fail ArgumentError, "Missing the required parameter 'rotate_pdf_request' when calling PDFToolsApi.rotate_pdf"
      end
      # resource path
      local_var_path = '/v1/pdf-tools/rotate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rotate_pdf_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PdfToolsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PDFToolsApi.rotate_pdf",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PDFToolsApi#rotate_pdf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
