=begin
#TemplateFox API

#Generate beautiful PDFs from HTML/CSS templates with Jinja2 via API. Design once, generate thousands.

The version of the OpenAPI document: 1.8.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module TemplateFox
  class TemplatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a version snapshot
    # Create an immutable snapshot of the current template draft.
    # @param template_id [String] Template short ID (12 characters)
    # @param create_version_request [CreateVersionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [VersionItem]
    def create_template_version(template_id, create_version_request, opts = {})
      data, _status_code, _headers = create_template_version_with_http_info(template_id, create_version_request, opts)
      data
    end

    # Create a version snapshot
    # Create an immutable snapshot of the current template draft.
    # @param template_id [String] Template short ID (12 characters)
    # @param create_version_request [CreateVersionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VersionItem, Integer, Hash)>] VersionItem data, response status code and response headers
    def create_template_version_with_http_info(template_id, create_version_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.create_template_version ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling TemplatesApi.create_template_version"
      end
      # verify the required parameter 'create_version_request' is set
      if @api_client.config.client_side_validation && create_version_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_version_request' when calling TemplatesApi.create_template_version"
      end
      # resource path
      local_var_path = '/v1/templates/{template_id}/versions'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_version_request)

      # return_type
      return_type = opts[:debug_return_type] || 'VersionItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TemplatesApi.create_template_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#create_template_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a version
    # Delete a specific version snapshot.
    # @param template_id [String] Template short ID
    # @param version_number [Integer] Version number to delete
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_template_version(template_id, version_number, opts = {})
      data, _status_code, _headers = delete_template_version_with_http_info(template_id, version_number, opts)
      data
    end

    # Delete a version
    # Delete a specific version snapshot.
    # @param template_id [String] Template short ID
    # @param version_number [Integer] Version number to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_template_version_with_http_info(template_id, version_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.delete_template_version ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling TemplatesApi.delete_template_version"
      end
      # verify the required parameter 'version_number' is set
      if @api_client.config.client_side_validation && version_number.nil?
        fail ArgumentError, "Missing the required parameter 'version_number' when calling TemplatesApi.delete_template_version"
      end
      # resource path
      local_var_path = '/v1/templates/{template_id}/versions/{version_number}'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s)).sub('{' + 'version_number' + '}', CGI.escape(version_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TemplatesApi.delete_template_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#delete_template_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get template fields
    # Get the dynamic fields for a template.  **Authentication:** API Key required (`x-api-key` header) or JWT token  **Usage:** This endpoint is designed for no-code tool integrations (Zapier, Make.com). It returns an array of field definitions used to dynamically generate input forms.  **Response format:** Array of field objects with: `key`, `label`, `type`, `required`, optional `helpText`, and optional `spec` (for array fields).  **Field types:** - `string`: Text input - `integer`: Integer number - `number`: Decimal number - `boolean`: True/False checkbox - `array`: Array of items with nested `spec` defining item structure  **Array fields:** When a field is an array of objects, the response includes a `spec` array defining the structure of each item (name, label, type for each nested field).  **No credits consumed:** This is a read-only endpoint.  **Rate Limits:** 60 requests/min (free), 120 requests/min (paid). Headers included in response.
    # @param template_id [String] Template short ID (12 characters)
    # @param [Hash] opts the optional parameters
    # @return [Array<TemplateField>]
    def get_template_fields(template_id, opts = {})
      data, _status_code, _headers = get_template_fields_with_http_info(template_id, opts)
      data
    end

    # Get template fields
    # Get the dynamic fields for a template.  **Authentication:** API Key required (&#x60;x-api-key&#x60; header) or JWT token  **Usage:** This endpoint is designed for no-code tool integrations (Zapier, Make.com). It returns an array of field definitions used to dynamically generate input forms.  **Response format:** Array of field objects with: &#x60;key&#x60;, &#x60;label&#x60;, &#x60;type&#x60;, &#x60;required&#x60;, optional &#x60;helpText&#x60;, and optional &#x60;spec&#x60; (for array fields).  **Field types:** - &#x60;string&#x60;: Text input - &#x60;integer&#x60;: Integer number - &#x60;number&#x60;: Decimal number - &#x60;boolean&#x60;: True/False checkbox - &#x60;array&#x60;: Array of items with nested &#x60;spec&#x60; defining item structure  **Array fields:** When a field is an array of objects, the response includes a &#x60;spec&#x60; array defining the structure of each item (name, label, type for each nested field).  **No credits consumed:** This is a read-only endpoint.  **Rate Limits:** 60 requests/min (free), 120 requests/min (paid). Headers included in response.
    # @param template_id [String] Template short ID (12 characters)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<TemplateField>, Integer, Hash)>] Array<TemplateField> data, response status code and response headers
    def get_template_fields_with_http_info(template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.get_template_fields ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling TemplatesApi.get_template_fields"
      end
      # resource path
      local_var_path = '/v1/templates/{template_id}/fields'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TemplateField>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TemplatesApi.get_template_fields",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#get_template_fields\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List template versions
    # List all snapshot versions for a template (excludes the working draft).
    # @param template_id [String] Template short ID (12 characters)
    # @param [Hash] opts the optional parameters
    # @return [VersionsListResponse]
    def list_template_versions(template_id, opts = {})
      data, _status_code, _headers = list_template_versions_with_http_info(template_id, opts)
      data
    end

    # List template versions
    # List all snapshot versions for a template (excludes the working draft).
    # @param template_id [String] Template short ID (12 characters)
    # @param [Hash] opts the optional parameters
    # @return [Array<(VersionsListResponse, Integer, Hash)>] VersionsListResponse data, response status code and response headers
    def list_template_versions_with_http_info(template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.list_template_versions ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling TemplatesApi.list_template_versions"
      end
      # resource path
      local_var_path = '/v1/templates/{template_id}/versions'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VersionsListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TemplatesApi.list_template_versions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#list_template_versions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List templates
    # List all templates for the authenticated user.  **Authentication:** API Key required (`x-api-key` header) or JWT token  **Usage:** This endpoint is designed for no-code tools (Zapier, Make, n8n) to populate template selection dropdowns.  **No credits consumed:** This is a read-only endpoint.  **Rate Limits:** 60 requests/min (free), 120 requests/min (paid). Headers included in response.
    # @param [Hash] opts the optional parameters
    # @return [TemplatesListResponse]
    def list_templates(opts = {})
      data, _status_code, _headers = list_templates_with_http_info(opts)
      data
    end

    # List templates
    # List all templates for the authenticated user.  **Authentication:** API Key required (&#x60;x-api-key&#x60; header) or JWT token  **Usage:** This endpoint is designed for no-code tools (Zapier, Make, n8n) to populate template selection dropdowns.  **No credits consumed:** This is a read-only endpoint.  **Rate Limits:** 60 requests/min (free), 120 requests/min (paid). Headers included in response.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TemplatesListResponse, Integer, Hash)>] TemplatesListResponse data, response status code and response headers
    def list_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.list_templates ...'
      end
      # resource path
      local_var_path = '/v1/templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TemplatesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TemplatesApi.list_templates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#list_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove default version
    # Remove the default version setting. API will use the working draft.
    # @param template_id [String] Template short ID
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def remove_default_version(template_id, opts = {})
      data, _status_code, _headers = remove_default_version_with_http_info(template_id, opts)
      data
    end

    # Remove default version
    # Remove the default version setting. API will use the working draft.
    # @param template_id [String] Template short ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def remove_default_version_with_http_info(template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.remove_default_version ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling TemplatesApi.remove_default_version"
      end
      # resource path
      local_var_path = '/v1/templates/{template_id}/default-version'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TemplatesApi.remove_default_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#remove_default_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set default version
    # Set which version the API uses by default when no version param is provided.
    # @param template_id [String] Template short ID
    # @param set_default_version_request [SetDefaultVersionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def set_default_version(template_id, set_default_version_request, opts = {})
      data, _status_code, _headers = set_default_version_with_http_info(template_id, set_default_version_request, opts)
      data
    end

    # Set default version
    # Set which version the API uses by default when no version param is provided.
    # @param template_id [String] Template short ID
    # @param set_default_version_request [SetDefaultVersionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def set_default_version_with_http_info(template_id, set_default_version_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.set_default_version ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling TemplatesApi.set_default_version"
      end
      # verify the required parameter 'set_default_version_request' is set
      if @api_client.config.client_side_validation && set_default_version_request.nil?
        fail ArgumentError, "Missing the required parameter 'set_default_version_request' when calling TemplatesApi.set_default_version"
      end
      # resource path
      local_var_path = '/v1/templates/{template_id}/default-version'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_default_version_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TemplatesApi.set_default_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#set_default_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a version
    # Update a version's tag or description.
    # @param template_id [String] Template short ID
    # @param version_number [Integer] Version number to update
    # @param update_version_request [UpdateVersionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [VersionItem]
    def update_template_version(template_id, version_number, update_version_request, opts = {})
      data, _status_code, _headers = update_template_version_with_http_info(template_id, version_number, update_version_request, opts)
      data
    end

    # Update a version
    # Update a version&#39;s tag or description.
    # @param template_id [String] Template short ID
    # @param version_number [Integer] Version number to update
    # @param update_version_request [UpdateVersionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VersionItem, Integer, Hash)>] VersionItem data, response status code and response headers
    def update_template_version_with_http_info(template_id, version_number, update_version_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.update_template_version ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling TemplatesApi.update_template_version"
      end
      # verify the required parameter 'version_number' is set
      if @api_client.config.client_side_validation && version_number.nil?
        fail ArgumentError, "Missing the required parameter 'version_number' when calling TemplatesApi.update_template_version"
      end
      # verify the required parameter 'update_version_request' is set
      if @api_client.config.client_side_validation && update_version_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_version_request' when calling TemplatesApi.update_template_version"
      end
      # resource path
      local_var_path = '/v1/templates/{template_id}/versions/{version_number}'.sub('{' + 'template_id' + '}', CGI.escape(template_id.to_s)).sub('{' + 'version_number' + '}', CGI.escape(version_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_version_request)

      # return_type
      return_type = opts[:debug_return_type] || 'VersionItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TemplatesApi.update_template_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#update_template_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
